img{
    width: 100%;
}

body{
    font-family: Geneva;
    line-height: 25px;
    background:url("backgroundimg.jpg") top right no-repeat; 
    background-attachment:fixed;
    box-shadow: inset 0 0 0 1000px rgba(66, 109, 90 , 0.75);
    background-color: #426A5A;
    margin: 0;
}

.column{
    width: 600px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    padding: 40px 40px;
    border-left: solid 15px #7FB685;
    border-right: solid 15px #7FB685;
}

figcaption{
    font-size: 14px;
    color: #4d4d4d;
}

img {
    border-radius:20px;
}

.imagecenter{
    margin: auto;
    width: 500px;
    padding: 10px;
}

h1 {
    font-size: 45px;
    font-family: Franklin Gothic Medium;
    padding: 5px 0;
}

h2 {
    font-size: 30px;
    font-family: Franklin Gothic Medium;
}

h3{
    font-size: 20px;
    font-family: Franklin Gothic Medium;
    color: #426A5A;
}

h4 {
    font-size: 15px;
    font-family: Franklin Gothic Medium;
    color: #426A5A;
}

h1, h2 {
    text-shadow: 3px 3px 6px #7FB685;
    color: #426A5A;
}

p {
    background-color: #7FB685;
    padding: 10px;
    border-radius:15px;
}

li.style-fast-facts {
    background-color: #7FB685;
    padding: 10px;
    border-radius:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Franklin Gothic Medium;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
